* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    background-color:linear-gradient(145deg, #cacaca, #f0f0f0);
}

@media only screen and (max-width: 768px) {
    header input{
         width: 100%;
    }
    #search i{
        position: relative;
        margin-left: -10px;
    }
    
    .current {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .temp {
        display: flex;
        justify-content: center;
        margin-top: -70px;
    }
    

  }

  @media only screen and (min-width: 768px) {

    .temp{        
         margin-left: -40px;
    }
  }

.app-wrap{
    display: flex;
    flex-direction: column;
    padding: 60px 30px 0px 30px;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

header input{
    display: flex;
    flex-direction: column;
    border-color:#201c1c98;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebebe,
                -20px -20px 60px #ffffff;
    width: 550px;
    height: 50px;
    font-size: 20px;
    border-radius:5px;
    padding-left: 20px;
    transition: 0.2s;
}

header input:focus {
    transition: 0.2s;
    outline: none;
    border-color:#38feb8;
    border-style: solid;
    border-width: 1px;
}
 
#search{
    position: relative;
    margin-left: -40px;
    background-color: rgba(255, 0, 0, 0);
    border-style: none;
    cursor: pointer;
    font-size: 20px;
} 

#search i{
   color: rgba(0, 0, 0, 0.438);
}

main{
    text-align: center;
}

.city{
    transition: 0.2s;
    color: black;
    font-size: 50px;
    font-weight: 100;
    user-select:none;
    margin-top: 80px;
    margin-bottom: 10px;
}

.date{
    transition: 0.2s;
    margin-bottom: 80px;
    user-select:none;
}

 .date:hover, .city:hover{
    color:#38feb8;
    transition: 0.2s;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

.weather {
    margin-left: 20px;
}

.temp {
    z-index: 4;
    border-color:#00000083;
    border-style: solid;
    border-width: 1px;
    transition: 1.2s;
    color: rgb(39, 37, 37);
    user-select:none;
    font-size: 30px;
    padding: 70px;
    border-radius: 21px;
    background: linear-gradient(145deg, rgba(202, 202, 202, 0.52), #f0f0f0);
    box-shadow:  34px 34px 68px #bababa73,
             -34px -34px 68px #ffffff5e;
}

.temperature {
    display: flex;
    justify-content: center;
}

.temp:hover{
    border-color:#38feb8;
    border-style: solid;
    color: #38feb8;
}

.weather_hi_low {
    z-index: 2;
    border-color:#00000083;
    border-style: solid;
    border-width: 1px;
    transition: 1.2s;
    color: rgb(39, 37, 37);
    user-select:none;
    font-size: 30px;
    padding: 70px;
    border-radius: 21px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  34px 34px 68px #bababa,
             -34px -34px 68px #ffffff;
}

.weather_hi_low:hover {
    border-color:#ff8c61;
    border-style: solid;
    color: #ff8c61;
}


/**Switch button**/
.the_switch{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .subsol{
      background-color: rgba(66, 66, 66, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      position: fixed;
      left: 0;
      bottom: 10px;
      width: 100%;
  }

/* 
 .app-wrap {
    display:flex;
    flex-direction: column;
    padding: 0 0 0 60px;
    min-height: 100vh;
}

header {
    background-color: red;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #0f0e0e4f;
    border-bottom: 3px solid #cbc7d4;
    border-radius: 5px;
    box-shadow: inset 24px 24px 47px #0f0e0e4f,
                inset -24px -24px 47px #0f0e0e4f;
    color:#ffffff;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s ease-out;
}

header input:focus {
    background-color: rgba(105, 98, 98, 0.6);
    border-bottom: 3px solid #7d50df;
}

main {
    display: flex;
    flex-direction: rows;
    justify-content: flex-start;
}

.location .city {
    color: #FFF;
    font-size: 32 px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFF;
    font-size: 16px;
}

.current .temp {
    color:#FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 1px 6px #7d50df;
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.current .hi-low{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4)
}    */

